<div class="card mt-4 ml-4 mr-4">
    <div class="card-body">
        <h4 class="card-title">TITLE</h4>
        <div class="card-subtitle text-muted mb-2">
         <a href="#">link for the blog</a>
        </div>
        <div class=" card-test mb-2 ml-2">
            <div class="row">
                <div class="col-md-4">
                  <img src=" alt="Snow" style="width:100%">
                </div>
                <div class="col-md-8">
                    <p>
                        Javascript has become one of the most popular and widely used languages due to the massive improvements it has seen and the introduction of the runtime known as NodeJS. Whether it's a web or mobile application, Javascript now has the right tools. This article will explain how the vibrant ecosystem of NodeJS allows you to efficiently scrape the web to meet most of your requirement
                    </p>
                </div>
                
        </div>
        </div>
        
       <a href="/blogs/edit" class="btn btn-info">Edit</a>
        <form action="#" method="POST" class="d-inline">
        <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    
</div>
